.btn {
  font-weight: 600;
  font-size: 2rem;
  padding: 1.6rem 4.2rem;
  border-radius: 10rem;
  border: 1px solid #ffffff;
  text-align: center;
  width: 22.5rem;
  background-color: #191919;
  color: #00ffd0;

  transition: all 0.3s;
}

.btn:hover {
  background-color: #00ffd0;
  color: #111;
  cursor: pointer;
}
