.contact {
  position: absolute;
  top: 1rem;
  left: 50%;
  transform: translate(-50%, 50%);

  padding: 0.8rem 3rem;
  font-size: 2.4rem;
  background-color: #00ffd0;
  /* background-color: #ffffff; */
  border-radius: 10rem;

  z-index: 1000;
}

.contact ul {
  display: flex;
  gap: 2.8rem;
}

.contact ul li {
  list-style: none;
  transition: all 0.5s;
}

.contact ul li:hover {
  transform: rotate(360deg);
  scale: 1.25;
}

header {
  position: relative;
}
