/* Header */
/* .header {
  height: 100vh;
} */
/* Menu */
/* .top-menu {
  padding: 5rem;
  max-width: 165rem;
  margin: auto;

  display: flex;
  justify-content: space-between;
  font-size: var(--regular-fontsize);
} */

/* Menu Left */
/* .top-menu--left {
}
.top-menu--name {
  color: var(--highlight-color);
  /* color: #ffffff; */

/* animation: moveInLeft 1s ease-out; 
}

/* Menu Right */
/* .top-menu--right {
  display: flex;
  height: min-content;

  animation: moveInRight 1s ease-out;
}

.top-menu--nav {
  border-right: 2px solid var(--highlight-color);
  display: flex;
  align-items: center;
  gap: 3rem;
  padding-right: 2rem;
  text-decoration: none;
}

.top-menu--nav__btns {
  color: #fff;
  transition: all 0.3s;
}

.top-menu--nav__btns:hover {
  color: var(--highlight-color);
}

.top-menu--links {
  display: flex;
  align-items: center;
  gap: 2rem;
  padding-left: 2rem;
}

.icon {
  font-size: 2rem;
  transition: all 0.3s;
}
.icon:hover {
  cursor: pointer;
  color: var(--highlight-color);
  transform: translateY(-4px);
} */

/* Intro */
/* .intro {
  max-width: 165rem;
  padding: 5rem;
  margin: auto;
  margin-top: 8.4rem;
  display: grid;
  grid-template-columns: 60% 40%; */

/* width: max-content; */

/* animation: moveInBottom 1s ease-out;
} */

/* Intro Left */
/* .intro-charge {
  font-size: 7.2rem;
  color: var(--highlight-color);
  line-height: 7.5rem;
  letter-spacing: 0.3rem;
} */

/* .intro-description {
  font-size: 2rem;
  max-width: 75%;
  line-height: 3rem;
  letter-spacing: 0.1rem;
  padding: 2.4rem 0;
  padding-left: 0.5rem;
} */

/* Buttons */
/* .intro-btns {
  display: flex;
  gap: 3.2rem;
  padding: 2rem 0;
  padding-left: 5px;
}

.intro-btns--work,
.intro-btns--resume {
  font-weight: 700;
  padding: 2rem 3rem;
  border-radius: 2rem;
  border: none;
  font-size: var(--regular-fontsize);
  transition: all 0.3s;
}

.intro-btns--work {
  background-color: transparent;
  border: 2px solid var(--highlight-color);
  color: var(--highlight-color);
}

.intro-btns--work:hover {
  cursor: pointer;
  background-color: var(--highlight-color);
  color: rgb(0, 0, 100);
}

.intro-btns--resume {
  background-color: transparent;
  color: var(--main-color);
  display: flex;
  align-items: center;
  /* transition: all 0.3s; 
}
.intro-btns--resume:hover {
  cursor: pointer;
  color: var(--highlight-color);
} */

/* .intro-btns--resume:hover {
  color: var(--highlight-color);
} */
/* 
.intro-btns--resume__icon {
  padding-left: 1.2rem;
  font-size: 2.6rem;
} */

/* Intro Right */

/*  */
/* @keyframes moveInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-10rem);
    transform: translateX(-10rem);
  }
  80% {
    -webkit-transform: translateX(1rem);
    transform: translateX(1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInRight {
  0% {
    opacity: 0;
    -webkit-transform: translateX(10rem);
    transform: translateX(10rem);
  }
  80% {
    -webkit-transform: translateX(-1rem);
    transform: translateX(-1rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    -webkit-transform: translateY(7rem);
    transform: translateY(7rem);
  }
  100% {
    opacity: 1;
    -webkit-transform: translate(0);
    transform: translate(0);
  }
}

@media (max-width: 1600px) {
  .top-menu {
    font-size: 1.6rem;
    padding: 5rem 7.5rem;
  }

  .intro {
    margin-top: 6.4rem;
    padding: 5rem 7.5rem;
  }
  .intro-charge {
    font-size: 5.8rem;
  }
  .intro-description {
    font-size: 1.8rem;
  }
  .intro-btns--resume,
  .intro-btns--work {
    font-size: 1.5rem;
  }
} */

/* section {
  height: 100%;
}

.intro {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #ffffff 75%,
    #ffffff 100%
  );
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -25%;
}
.line:nth-child(1)::after {
  animation-delay: 2s;
}

.line:nth-child(3) {
  margin-left: 25%;
}

.line:nth-child(3)::after {
  animation-delay: 2.5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
} */

/* @import url(https://fonts.googleapis.com/css?family=Exo:100); */
/* Exo thin font from Google. */
/* Background data (Original source: https://subtlepatterns.com/grid-me/) */
/* Animations */
/* @-webkit-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling-reverse {
  100% {
    background-position: 50px 50px;
  }
}
@-webkit-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-moz-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@-o-keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
}
@keyframes bg-scrolling {
  0% {
    background-position: 50px 50px;
  }
} */
/* Main styles */
/* body {
  margin-top: 13.5rem;
  color: #999;
  font: 400 10.6666666667px exo, ubuntu, "segoe ui", helvetica, arial,
    sans-serif;
  text-align: center; */
/* img size is 50x50 */
/* background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAIAAACRXR/mAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAABnSURBVHja7M5RDYAwDEXRDgmvEocnlrQS2SwUFST9uEfBGWs9c97nbGtDcquqiKhOImLs/UpuzVzWEi1atGjRokWLFi1atGjRokWLFi1atGjRokWLFi1af7Ukz8xWp8z8AAAA//8DAJ4LoEAAlL1nAAAAAElFTkSuQmCC")
    repeat 0 0;
  -webkit-animation: bg-scrolling-reverse 0.92s infinite; */
/* Safari 4+ */
/* -moz-animation: bg-scrolling-reverse 0.92s infinite; */
/* Fx 5+ */
/* -o-animation: bg-scrolling-reverse 0.92s infinite; */
/* Opera 12+ */
/* animation: bg-scrolling-reverse 0.92s infinite; */
/* IE 10+ */
/* -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -o-animation-timing-function: linear;
  animation-timing-function: linear;
} */

/* body::before {
  content: "INFINITY";
  font-size: 8rem;
  font-weight: 100;
  font-style: normal;
} */

/* Bckgrnd */
.hero {
  display: table;
  width: 100%;
  height: 100%;
  background-color: #171717;
  color: #000;
  line-height: 1.6;
  position: relative;
  font-family: sans-serif;
  overflow: hidden;
}

.lines {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  margin: auto;
  width: 90vw;
}

.line {
  position: absolute;
  width: 1px;
  height: 100%;
  top: 0;
  left: 50%;
  background: rgba(255, 255, 255, 0.1);
  overflow: hidden;
}

.line::after {
  content: "";
  display: block;
  position: absolute;
  height: 15vh;
  width: 100%;
  top: -50%;
  left: 0;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    #00ffd0 75%,
    #00ffd0 100%
  );
  animation: drop 7s 0s infinite;
  animation-fill-mode: forwards;
  animation-timing-function: cubic-bezier(0.4, 0.26, 0, 0.97);
}

.line:nth-child(1) {
  margin-left: -25%;
}

.line:nth-child(1)::after {
  animation-delay: 2s;
}

.line:nth-child(3) {
  margin-left: 25%;
}

.line:nth-child(3)::after {
  animation-delay: 2.5s;
}

@keyframes drop {
  0% {
    top: -50%;
  }
  100% {
    top: 110%;
  }
}

/* Hero */

.details {
  z-index: 1000;
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);

  color: #ffffff;
}

.info {
  text-align: center;
}

.info span {
  font-size: 2rem;
}

h1 {
  font-size: 6.4rem;
  font-weight: 900;
  color: #00ffd0;
}

.info p {
  font-size: 2rem;
  width: 70%;
  margin: auto;
}

strong {
  font-weight: 900;
}

.contact {
  margin-top: 2.4rem;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  font-size: 2rem;
}

.contact::after {
  content: "";
  display: block;
  position: absolute;
  height: 7.5vh;
  width: 1px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
}

.contact-btn {
  font-weight: 600;
  padding: 0.8rem 4.8rem;
  border-radius: 10rem;
  border: 1px solid #ffffff;

  transition: all 0.3s;
}

.contact-btn:hover {
  background-color: #ffffff;
  color: #171717;
  cursor: pointer;
}
