.wrapper {
  height: 90vh;
  width: 92.5vw;
  background-color: var(--main-color);
  margin: 3rem auto;
  border-radius: 3rem;
  color: rgba(0, 0, 150);
  text-align: center;
  padding: 3rem 2rem;
}

.work {
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}

.projects {
  display: flex;
  justify-content: space-between;
  padding: 3rem 0;
  height: 90%;
}
